@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: 'Raleway', sans-serif;
}

.detailTitle{
    font-weight: bold;
    margin: 30px;
}
.detailText{

    margin: 15px;
}

